.d1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
  }
  
  li {
    float: left;
  }
  
   a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  
   a:hover {
    background-color: #111;
  }

  .h1{
    margin-left: 10%;
    margin-top: 5%
  }

  footer{
      background-color: slategrey;
      padding: 20px;
      font-family: 'Alata', sans-serif;
      color: black;
      
  }
  .f1{
    font-family: 'Alata', sans-serif;
  }
  @import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

body {
	margin:0;
	font-family:arial,tahoma,sans-serif;
	font-size:12px;
	font-weight:normal;
	direction:ltr;
  background:white;
}

form {
	margin:5% auto 0 auto;
	padding:30px;
	width:500px;
	height:auto;
	overflow:hidden;
	background:white;
	border-radius:10px;
}

form label {
	font-size:14px;
	color:darkgray;
	cursor:pointer;
}

form label,
form input {
	float:left;
	clear:both;
}

form input {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

form textarea{
  margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
  display:inline-block;
  -webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
	resize: none;

}

form input[type=text]:focus,
form input[type="password"]:focus {
	border-color:cornflowerblue;
}

input[type=submit] {
	padding:15px 25px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;

	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}





body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 200px 100px 200px 100px 200px 100px 200px 80px;
  grid-gap: 10px;
  background-color: rgb(233, 210, 210);
  color: white;
}

.box {
  background-color:gray;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  
  
}

.a {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b {
        grid-column-start:4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .c {
        grid-column-start: 6;
        grid-column-end:6;
        grid-row-start: 1;
        grid-row-end:2;
    }
    .d {
        grid-column-start: 8;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
  /* BUTTON */
  .block {
    display: block;
    width: 200px;
    height: 100px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
   border-radius: 5px;
   font-size: 20px;
   float: left;
   margin-right: 40px;
   
  }

  .block:hover {
    background-color:rgb(182, 255, 46);
    color: black;
  }